# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

################## Frontend ##################
# dependencies
frontend/node_modules/

# Expo
frontend/.expo/
frontend/dist/
frontend/web-build/

# Native
frontend/*.orig.*
frontend/*.jks
frontend/*.p8
frontend/*.p12
frontend/*.key
frontend/*.mobileprovision

# Metro
frontend/.metro-health-check*

# debug
frontend/npm-debug.*
frontend/yarn-debug.*
frontend/yarn-error.*

# macOS
frontend/.DS_Store
frontend/*.pem

# local env files
frontend/.env*.local

# typescript
frontend/*.tsbuildinfo

# expo
frontend/.expo/

# intellij
.idea/


################## Backend ##################
backend/HELP.md
backend/.gradle
backend/build/
backend/!gradle/wrapper/gradle-wrapper.jar
backend/!**/src/main/**/build/
backend/!**/src/test/**/build/

### STS ###
backend/.apt_generated
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings
backend/.springBeans
backend/.sts4-cache
backend/bin/
backend/!**/src/main/**/bin/
backend/!**/src/test/**/bin/

### IntelliJ IDEA ###
backend/.idea
backend/*.iws
backend/*.iml
backend/*.ipr
backend/out/
backend/!**/src/main/**/out/
backend/!**/src/test/**/out/

backend/### NetBeans ###
backend/nbproject/private/
backend/nbbuild/
backend/dist/
backend/nbdist/
backend/.nb-gradle/

### VS Code ###
backend/.vscode/
